body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.tooltip {
  position: absolute;
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  pointer-events: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
}
